*{
    padding: 1px;
    margin: 1px;
}
.outer{
    width: 700px;
    height: 800px;
    margin: 0px auto;
    border: 1px solid black;
    overflow: hidden;
    
}
.outer h1{
    text-align: center;
    font-style: Arial Verdana Helvetica; 
}
p{
    font-size: 20px;
}
.border{
    width:100%;
    padding: 5px;
    background-color:rgb(144, 123, 154);
    border: 0px solid black;
    font-weight: bold;
} 
ul{
    font-size: 20px;
    margin-left:50px;
}
h2{
    float:right;
}
.newbox{

    width: 700px;
    height: 800px;
    border:1px solid black;
    margin: 0px auto;
    overflow: hidden;

}
